{% macro html_footer() %}
<footer>
    <p>I'm Tobias Budig – Techie, Founder, and Learning-Enthusiast living in Karlsruhe, Germany. Let's get in touch.</p>
    <p class="lead socials">
            <a href="https://github.com/tobiasbudig" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/tobias.budig" target="_blank"><i class="fab fa-instagram"></i></a> 
            <a href="https://www.linkedin.com/in/tobias-budig" target="_blank"><i class="fab fa-linkedin"></i></a>
    </p>
    <p>
        This site uses cookies and external services to improve your experience.<br>
        At least if you don't refuse by sending <a href="http://randomwalker.info/donottrack-archive/" target="_blank">Do Not Track</a>.
    </p>
    <p>© Copyright {{ now.year }} by Tobias Budig. <a href="http://tobias-budig.com/impressum" target="_blank">Legal/Imprint</a>.</p>
</footer>
{% endmacro %}